<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Learning English</title>
    @Styles.Render("~/css/css")
</head>
<body>
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div class="header-top_area d-none d-lg-block" style="padding-right: 20px; padding-left: 20px; padding-bottom: 10px; padding-top: 20px; ">
            </div>
            <div class="address_bar d-none d-lg-block" style="padding-bottom: 15px; padding-top: 5px;">
                <div class="container">
                    <div class="row justify-content-between align-items-center" style="padding-bottom: 0px;">
                            <a href="/Home/Index">
                                <img src="~/img/logo.png" style="width:110px;height:90px;">
                                <p style="color:white;height:15px;width:150px;font-size:12px;">
                                    Never stop learning
                                </p>
                            </a>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area" style="height:60px">
                <div class="container">
                    <div class="white_bg_bar" style="margin-top: 0px;padding-bottom: 15px;padding-top: 15px;">
                        <div class="row align-items-center">
                            <div class="col-xl-8 col-lg-8">
                                <div class="main-menu  d-none d-lg-block" style="padding-bottom: 0px; padding-top: 0px;">
                                    <nav>
                                        <ul id="navigation">
                                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                            <li>
                                                <a>Facts & Figures <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="/Home/UniGraph">Enrollment Details</a></li>
                                                    <li><a href="/Home/LearnEnglish">English Proficiency Level</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/UniList/Index">Australian University</a></li>
                                            <li>
                                                <a>Australian Culture<i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="/Home/Quiz">Fun Quizzes</a></li>
                                                    <li><a href="/Home/Resource">Resource</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/Home/EnglishGame">English Game</a></li>
                                            <li>@Html.ActionLink("About", "About", "Home")</li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div>
                                <div class="mobile_menu d-block d-lg-none">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    @RenderBody()
    <!-- footer_start  -->
    <footer class="footer">
        <div class="download_brochure">
            <div class="container">
                <div class="bordered_1px" style="padding-top: 10px; padding-bottom: 10px;">
                </div>
            </div>
        </div>
        <div class="footer_top" style=" padding-top: 20px;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3 ">
                        <div class="footer_widget">
@*                            <h3 class="footer_title">
                                About
                            </h3>*@
                            <p>&copy; @DateTime.Now.Year - Design by ME13</p>
                            @*<div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>*@

                        </div>
                    </div>
                    @*                <div class="col-xl-2 col-md-6 col-lg-2">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Popular Searches
                                </h3>
                                <ul>
                                    <li><a href="#">Apartment for rent </a></li>
                                    <li><a href="#">Office for rent</a></li>
                                    <li><a href="#"> Apartment for sale</a></li>
                                    <li><a href="#"> Luxuries</a></li>
                                </ul>
                            </div>
                        </div>*@
                    @*                <div class="col-xl-2 col-md-6 col-lg-2 offset-xl-1 offset-lg-1">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Useful Links
                                </h3>
                                <ul>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#"> Contact</a></li>
                                    <li><a href="#"> Appointment</a></li>
                                </ul>
                            </div>
                        </div>*@
@*                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                                 <h3 class="footer_title">
                                    Subscribe
                                </h3>
                                <form action="#" class="newsletter_form">
                                    <input type="text" placeholder="Enter your mail">
                                    <button type="submit">Subscribe</button>
                                </form>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
@*        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
            </div>
        </div>*@
    </footer>
    @Scripts.Render("~/js/js")
    @RenderSection("scripts", required: false)
</body>
</html>
