<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Learning English</title>
    @Styles.Render("~/css/css")
</head>
<body>
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div class="header-top_area d-none d-lg-block" style="padding-right: 20px; padding-left: 20px; padding-bottom: 10px; padding-top: 20px; ">
            </div>
            <div class="address_bar d-none d-lg-block" style="padding-bottom: 15px; padding-top: 5px;">
                <div class="container">
                    <div class="row justify-content-between align-items-center" style="padding-bottom: 0px;">
                            <a href="/Home/Index">
                                <img src="~/img/logo.png" style="width:110px;height:90px;">
                                <p style="color:white;height:15px;width:150px;font-size:12px;">
                                    Never stop learning
                                </p>
                            </a>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="white_bg_bar" style=" margin-top: 0px;padding-bottom: 15px;padding-top: 15px;">
                        <div class="row align-items-center">
                            <div class="col-xl-8 col-lg-8">
                                <div class="main-menu  d-none d-lg-block" style="padding-bottom: 0px; padding-top: 0px;">
                                    <nav>
                                        <ul id="navigation">
                                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                            <li><a href="/Home/Visual">Explore</a></li>
                                            @*<li><a href="/Home/Test">English Test</a></li>*@
                                            @*<li>
                                            <a href="#">pages <i class="ti-angle-down"></i></a>
                                            @*<ul class="submenu">
                                                <li><a href="project.html">project</a></li>
                                                <li><a href="elements.html">elements</a></li>
                                                <li><a href="project_details.html">project details</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">blog <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">blog</a></li>
                                                <li><a href="single-blog.html">single-blog</a></li>
                                            </ul>
                                        </li>*@
                                            <li>@Html.ActionLink("About", "About", "Home")</li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div>
                                <div class="mobile_menu d-block d-lg-none">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    @RenderBody()
    <!-- footer_start  -->
    <footer class="footer">
        <div class="download_brochure">
            <div class="container">
                <div class="bordered_1px" style="padding-top: 10px; padding-bottom: 10px;">
                </div>
            </div>
        </div>
        <div class="footer_top" style=" padding-top: 20px;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3 ">
                        <div class="footer_widget">
@*                            <h3 class="footer_title">
                                About
                            </h3>*@
                            <p>&copy; @DateTime.Now.Year - Design by ME13</p>
                            @*<div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>*@

                        </div>
                    </div>
                    @*                <div class="col-xl-2 col-md-6 col-lg-2">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Popular Searches
                                </h3>
                                <ul>
                                    <li><a href="#">Apartment for rent </a></li>
                                    <li><a href="#">Office for rent</a></li>
                                    <li><a href="#"> Apartment for sale</a></li>
                                    <li><a href="#"> Luxuries</a></li>
                                </ul>
                            </div>
                        </div>*@
                    @*                <div class="col-xl-2 col-md-6 col-lg-2 offset-xl-1 offset-lg-1">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Useful Links
                                </h3>
                                <ul>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#"> Contact</a></li>
                                    <li><a href="#"> Appointment</a></li>
                                </ul>
                            </div>
                        </div>*@
@*                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                                 <h3 class="footer_title">
                                    Subscribe
                                </h3>
                                <form action="#" class="newsletter_form">
                                    <input type="text" placeholder="Enter your mail">
                                    <button type="submit">Subscribe</button>
                                </form>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
@*        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
            </div>
        </div>*@
    </footer>
    @Scripts.Render("~/js/js")
    @RenderSection("scripts", required: false)
    <!-- Modal -->
    <div class="modal fade custom_search_pop" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="serch_form">
                    <input type="text" placeholder="search">
                    <button type="submit">search</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-calendar-o"></span>'
            }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-calendar-o"></span>'
            }

        });
    </script>
</body>
</html>
