<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Learning English</title>
    @Styles.Render("~/css/css")
</head>
<body>
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div class="header-top_area d-none d-lg-block" style="padding-right: 20px; padding-left: 20px; padding-bottom: 10px; padding-top: 20px; ">
            </div>
            <div class="address_bar d-none d-lg-block" style="padding-bottom: 15px; padding-top: 5px;">
                <div class="container">
                    <div class="row justify-content-between align-items-center" style="padding-bottom: 0px;">
                        <a href="/Home/Index">
                            <img src="~/img/logo.png" style="width:110px;height:90px;">
                            <p style="color:white;height:15px;width:150px;font-size:12px;">
                                Never stop learning
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area" style="height:60px">
                <div class="container">
                    <div class="white_bg_bar" style="margin-top: 0px;padding-bottom: 15px;padding-top: 15px;">
                        <div class="row align-items-center">
                            <div class="col-xl-8 col-lg-8">
                                <div class="main-menu  d-none d-lg-block" style="padding-bottom: 0px; padding-top: 0px;">
                                    <nav>
                                        <ul id="navigation" style="width: 900px;">
                                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                            <li>
                                                <a>Facts & Figures <i class="ti-angle-down"></i></a>
                                                <ul class="submenu" style="width: 230px;">
                                                    <li><a href="/Home/UniGraph">Enrolment Details</a></li>
                                                    <li><a href="/Home/LearnEnglish">English Proficiency Level</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a>Higher Education<i class="ti-angle-down"></i></a>
                                                <ul class="submenu" style="width: 230px;">
                                                    <li><a href="/UniList/Index">Australian University</a></li>
                                                    <li><a href="/UniList/Map">Navigation Map</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/Home/Quiz">Australian Culture</a></li>
                                            <li>
                                                <a>Fun Corner<i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="/Home/EnglishGame">English Game</a></li>
                                                    <li><a href="/Home/Printables">Printable</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/Home/Resource">Work life</a></li>
                                            <li>@Html.ActionLink("About us", "About", "Home")</li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div>
                                <div class="mobile_menu d-block d-lg-none">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    @RenderBody()
    <!-- footer_start  -->
    <!-- footer_start  -->
<footer class="footer">
    <div class="download_brochure">
        <div class="container">
            <div class="bordered_1px" style="padding-top: 10px; padding-bottom: 10px;">
            </div>
        </div>
    </div>
    <div class="footer_top" style="padding-bottom: 15px; padding-top: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title" style="margin-bottom: 20px;">
                            SITE MAP
                        </h3>
                        <ul>
                            <li><a href="/Home/UniGraph">Enrolment Detail</a></li>
                            <li><a href="/Home/LearnEnglish">English Proficiency Level</a></li>
                            <li><a href="/Home/Test">English Level Test</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                        </h3>
                        <ul>
                            <li><a href="/UniList/Index">Australian University</a></li>
                            <li><a href="/UniList/Map">Navigation Map</a></li>
                            <li><a href="/Home/EnglishGame">English Game</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                        </h3>
                        <ul>
                            <li><a href="/Home/Printables">Printable</a></li>
                            <li><a href="/Home/Resource">Work life</a></li>
                            <li><a href="/Home/About">About us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text" style="padding-bottom: 10px;">
        <div class="container">
            <div class="footer_border" style="padding-bottom: 10px;"></div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="footer_widget text-center">
                        <p style="color: #afafaf;font-size: 14px;">
                            English Games are inspired by Games to Learn English(Owen Dwyer): https://www.gamestolearnenglish.com/
                        </p>
                        <p style="color: #afafaf;font-size: 14px;">
                            Pictures this website used is from https://pixabay.com and https://www.pexels.com/
                        </p>
                        <p style="color: #afafaf;font-size: 14px;">&copy; @DateTime.Now.Year - Designed by team TechnolOZY</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
    <!-- footer_end  -->
    @*<footer class="footer">
        <div class="download_brochure">
            <div class="container">
                <div class="bordered_1px" style="padding-top: 10px; padding-bottom: 10px;">
                </div>
            </div>
        </div>
        <div class="footer_top" style=" padding-top: 20px;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Popular Searches
                            </h3>
                            <ul>
                                <li><a href="#">Apartment for rent </a></li>
                                <li><a href="#">Office for rent</a></li>
                                <li><a href="#"> Apartment for sale</a></li>
                                <li><a href="#"> Luxuries</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-lg-6 col-xl-2 col-md-6 col-lg-2 offset-xl-1 offset-lg-1">
                        <div class="footer_widget">
                            <p>&copy; @DateTime.Now.Year - Designed by team TechnolOZY</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>*@
    @Scripts.Render("~/js/js")
    @RenderSection("scripts", required: false)
</body>
</html>
